# IST769 Final Exam

**INSTRUCTIONS FOR HIGHEST GRADE POSSIBLE**

Unless you are explicitly instructed otherwise, answer each of the following using PySpark / Spark SQL. For any queries you write make sure to include a `printSchema()` and sample(s) of the output which clearly demonstrates the code is correct.

In [1]:
! sudo cp /home/jovyan/work/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar /usr/local/spark/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar

In [2]:
!pip install -q cassandra-driver

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
# YOUR NAME ========>   Aarti Mehra
# YOUR SU EMAIL ====>   aamehra@syr.edu

### Question 1

In the cell below configure a spark session that is configured to connect to `mongodb`, `minio`, `cassandra`, '`elasticsearch` and `neo4j`.

In [5]:
#1 Spark session
cassandra_host = "cassandra"
elastic_host = "elasticsearch"
elastic_port = "9200"
bolt_url = "bolt://neo4j:7687"
s3_host = "minio"
s3_url = f"http://{s3_host}:9000"
s3_key = "minio"
s3_secret = "SU2orange!"
s3_bucket = "minio-exam"
mongo_uri = "mongodb://admin:mongopw@mongo:27017/ischooldb?authSource=admin"

jars = [
    "org.apache.hadoop:hadoop-aws:3.1.2",
    "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1",
    "org.elasticsearch:elasticsearch-spark-20_2.12:7.15.0",
    "com.datastax.spark:spark-cassandra-connector-assembly_2.12:3.1.0"
]

spark = SparkSession \
      .builder \
      .master("local") \
      .appName('jupyter-pyspark') \
          .config("spark.jars.packages",",".join(jars) )\
          .config("spark.es.nodes", elastic_host) \
          .config("spark.es.port",elastic_port) \
          .config("spark.mongodb.input.uri", mongo_uri) \
          .config("spark.mongodb.output.uri", mongo_uri) \
          .config("spark.cassandra.connection.host", cassandra_host) \
          .config("spark.hadoop.fs.s3a.endpoint", s3_url) \
          .config("spark.hadoop.fs.s3a.access.key", s3_key) \
          .config("spark.hadoop.fs.s3a.secret.key", s3_secret) \
          .config("spark.hadoop.fs.s3a.fast.upload", True) \
          .config("spark.hadoop.fs.s3a.path.style.access", True) \
          .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
      .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
org.elasticsearch#elasticsearch-spark-20_2.12 added as a dependency
com.datastax.spark#spark-cassandra-connector-assembly_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-4ab5e582-87bf-4660-9ef8-bde28e288988;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.1.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.271 in central
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
	found org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0 in central
	found org.scala-lang#scala-reflect;2.12.8 in central
	found org.slf4j#slf4j-api;1.7.6 in central
	found commons-logging#commons-logging;1.1.1 in central
	found javax.xml.bind#jaxb-api;2.3.1 in central
	found com.google.protobuf#protobuf-java;2.5.0 in central
	found org.apache.spark#spark-yarn_2.12;2.4.4 in central
	found com.datastax.spark#spark-cassandra-connector-assembly_2.12;3.1.0 in central
:: resolution report :: resolve 1695ms :: artifacts dl 54ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.271 from central in [default]
	com.datastax.spark#spark-cassandra-connector-assembly_2.12;3.1.0 from central in [default]
	com.google.protobuf#protobuf-java;2.5.0 from central in [default]
	commons-logging#commons-logging;1.1.1 from central in [default]
	javax.xml.bind#jaxb-api;2.3.1 from central in [default]
	org.apache.hadoop#hadoop-aws;3.1.2 from central in [default]
	org.apache.spark#spark-yarn_2.12;2.4.4 from central in [default]
	org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0 from central in [default]
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	org.scala-lang#scala-reflect;2.12.8 from central in [default]
	org.slf4j#slf4j-api;1.7.6 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   14  |   0   |   0   |   0   ||   8   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-4ab5e582-87bf-4660-9ef8-bde28e288988
	confs: [default]
	0 artifacts copied, 8 already retrieved (0kB/20ms)
23/05/01 15:04:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

### Question 2

Demonstrate you can read the process-oriented data `enrollments` and `sections` from `minio` using PySpark.

In [6]:
#2a enrollments
enroll_df = spark.read.option("inferSchema",True)\
        .csv("s3a://enrollments/enrollments.csv",header=True)
enroll_df.printSchema()
enroll_df.toPandas()

root
 |-- term: integer (nullable = true)
 |-- course_enrollment: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: double (nullable = true)

,term,course_enrollment,course,section,student_id,grade,grade_points
0,1221,1,IST659,M001,orenjouglad,C,2.000
1,1221,2,IST659,M001,billmelator,A,4.000
2,1221,3,IST659,M001,morrisless,A,4.000
3,1221,4,IST659,M001,amberwavesofgrain,A-,3.667
4,1221,5,IST659,M001,abbykuss,A,4.000
...,...,...,...,...,...,...,...
738,1232,24,IST718,M001,tyanott,A-,3.667
739,1232,25,IST718,M001,aprilfirst,A-,3.667
740,1232,26,IST718,M001,cravenchocolate,A,4.000
741,1232,27,IST718,M001,peteterpan,A-,3.667
742,1232,28,IST718,M001,ottothyme,B,3.000

In [7]:
#2b sections 
section_df = spark.read.option("inferSchema",True)\
        .csv("s3a://enrollments/sections.csv",header=True)
section_df.printSchema()
section_df.toPandas()

root
 |-- term: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- capacity: integer (nullable = true)

    term  course section  enrollment  capacity
0   1221  IST659    M001          20        20
1   1221  IST659    M002          20        20
2   1221  IST722    M001          25        28
3   1221  IST615    M001          22        28
4   1221  IST621    M001          22        24
5   1221  IST687    M001          20        20
6   1221  IST687    M002          21        24
7   1221  IST707    M001          28        28
8   1222  IST659    M001          24        24
9   1222  IST769    M001          19        24
10  1222  IST615    M001          19        24
11  1222  IST714    M001          17        20
12  1222  IST621    M001          28        28
13  1222  IST621    M002          22        24
14  1222  IST687    M001          18        20
15  1222  IST687    M002          20        20
16  1222  IST718    M001          28        28
17  1231  IST659    M001          20        20
18  1231  IST659    M002          20        20
19  1231  IST722    M001          23        28
20  1231  IST615    M001          21        24
21  1231  IST621    M001          28        28
22  1231  IST687    M001          17        20
23  1231  IST687    M002          20        24
24  1231  IST707    M001          24        24
25  1232  IST659    M001          20        20
26  1232  IST769    M001          20        24
27  1232  IST615    M001          21        28
28  1232  IST615    M002          20        24
29  1232  IST714    M001          20        24
30  1232  IST621    M001          28        28
31  1232  IST621    M002          21        24
32  1232  IST687    M001          19        24
33  1232  IST718    M001          28        28

### Question 3

Demonstrate you can read the reference-oriented data `terms`, `students`, `courses`, and `program` reference data from `MongoDb` using PySpark.

In [8]:
#3a terms
terms = spark.read.format("mongo") \
    .option("database","ischooldb") \
    .option("collection","terms") \
    .load()
terms.printSchema()
terms.toPandas()

root
 |-- _id: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- code: string (nullable = true)
 |-- name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)

    _id academic_year  code         name semester  year
0  1221     2021-2022  1221    Fall 2021     Fall  2021
1  1222     2021-2022  1222  Spring 2022   Spring  2022
2  1231     2022-2023  1231    Fall 2022     Fall  2022
3  1232     2022-2023  1232  Spring 2023   Spring  2023

In [13]:
#3b courses
courses = spark.read.format("mongo") \
    .option("database","ischooldb") \
    .option("collection","courses") \
    .load()
courses.printSchema()
courses.toPandas()

root
 |-- _id: string (nullable = true)
 |-- code: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- name: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)

,_id,code,credits,description,elective_in_programs,key_assignments,name,prerequisites,required_in_programs
0,IST659,IST659,3,"Definition, development, and management of dat...",[],[project],Data Administration Concepts and Database Mana...,[],"[IS, DS]"
1,IST722,IST722,3,Introduction to concepts of business intellige...,[IS],"[project, exam]",Data Warehousing,[IST659],[]
2,IST769,IST769,3,Analyze relational and non-relational database...,[DS],"[project, exam]",Advanced Big Data Management,[IST659],[]
3,IST615,IST615,3,Cloud services creation and management. Practi...,[],"[project, paper]",Cloud Management,[],"[IS, DS]"
4,IST714,IST714,3,"Advanced, lab-based exploration of enterprise ...","[IS, DS]",[project],Cloud Architecture,[IST615],[]
5,IST621,IST621,3,Information and technology management overview...,[],[paper],Information Management and Technology,[],[IS]
6,IST687,IST687,3,Introduces information professionals to fundam...,[IS],"[project, exam]",Introduction to Data Science,[],[DS]
7,IST707,IST707,3,General overview of industry standard machine ...,[IS],[exam],Applied Machine Learning,[IST687],[DS]
8,IST718,IST718,3,A broad introduction to big data analytical an...,[],[project],Big Data Analytics,[IST687],[DS]

In [14]:
#3c Programs
programs = spark.read.format("mongo") \
    .option("database","ischooldb") \
    .option("collection","programs") \
    .load()
programs.printSchema()
programs.toPandas()

root
 |-- _id: string (nullable = true)
 |-- code: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- name: string (nullable = true)
 |-- required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)

,_id,code,credits,elective_courses,name,required_courses,type
0,IS,IS,36,"[IST722, IST714, IST687, IST707]",Information Systems,"[IST659, IST615, IST621]",Masters
1,DS,DS,34,"[IST769, IST714]",Data Science,"[IST659, IST615, IST687, IST718, IST707]",Masters
2,BDC,BDC,9,None,Data Engineering Certificate,"[IST659, IST722, IST769]",Certificate
3,CCC,CCC,9,None,Cloud Computing Certificate,"[IST621, IST615, IST714]",Certificate
4,MLC,MLC,9,None,Machine Learning Certificate,"[IST687, IST707, IST718]",Certificate

In [15]:
#3d students
students = spark.read.format("mongo") \
    .option("database","ischooldb") \
    .option("collection","students") \
    .load()
students.printSchema()
students.toPandas()

root
 |-- _id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- program: string (nullable = true)

                _id             name program
0          abbykuss        Abby Kuss      DS
1        adamantium      Adam Antium      IS
2         addieowse       Addie Owse      IS
3      aidensomewun    Aiden Somewun      IS
4      aidenknowone    Aiden Knowone      DS
..              ...              ...     ...
230       windysees       Windy Sees      IS
231     windyshores     Windy Shores      IS
232   woodieforrest   Woodie Forrest      DS
233   woodrowaboate   Woodrow Aboate      DS
234  yolandasmyland  Yolanda Smyland      IS

[235 rows x 3 columns]

### Question 4

Prepare the `section` data for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. Just PREPARE it do not LOAD it. Remember that we want this data to be as wide as possible, so include all relevant reference data. For example, the `section` data should include `term` attributes like `year`,  `academic year`, etc... and from `course`, attributes like `credits`, `name`, `prerequisites`, etc...

In [17]:
#4 wide_sections
section_df.createOrReplaceTempView("section")
terms.createOrReplaceTempView("terms")
courses.createOrReplaceTempView("courses")
programs.createOrReplaceTempView("programs")
section_query = '''
    select s.term, t.year as term_year, t.name as term_name, t.academic_year, s.course, s.section, c.name as course_name, s.enrollment, s.capacity, 
        c.description, c.credits, c.key_assignments, c.prerequisites, c.required_in_programs, c.elective_in_programs
    from section s
    join terms t on s.term = t.code
    join courses c on s.course = c.code 
    order by s.term;
'''
df = spark.sql(section_query)
df.printSchema()
df.toPandas()

root
 |-- term: integer (nullable = true)
 |-- term_year: integer (nullable = true)
 |-- term_name: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)

,term,term_year,term_name,academic_year,course,section,course_name,enrollment,capacity,description,credits,key_assignments,prerequisites,required_in_programs,elective_in_programs
0,1221,2021,Fall 2021,2021-2022,IST615,M001,Cloud Management,22,28,Cloud services creation and management. Practi...,3,"[project, paper]",[],"[IS, DS]",[]
1,1221,2021,Fall 2021,2021-2022,IST659,M002,Data Administration Concepts and Database Mana...,20,20,"Definition, development, and management of dat...",3,[project],[],"[IS, DS]",[]
2,1221,2021,Fall 2021,2021-2022,IST659,M001,Data Administration Concepts and Database Mana...,20,20,"Definition, development, and management of dat...",3,[project],[],"[IS, DS]",[]
3,1221,2021,Fall 2021,2021-2022,IST687,M002,Introduction to Data Science,21,24,Introduces information professionals to fundam...,3,"[project, exam]",[],[DS],[IS]
4,1221,2021,Fall 2021,2021-2022,IST687,M001,Introduction to Data Science,20,20,Introduces information professionals to fundam...,3,"[project, exam]",[],[DS],[IS]
5,1221,2021,Fall 2021,2021-2022,IST707,M001,Applied Machine Learning,28,28,General overview of industry standard machine ...,3,[exam],[IST687],[DS],[IS]
6,1221,2021,Fall 2021,2021-2022,IST722,M001,Data Warehousing,25,28,Introduction to concepts of business intellige...,3,"[project, exam]",[IST659],[],[IS]
7,1221,2021,Fall 2021,2021-2022,IST621,M001,Information Management and Technology,22,24,Information and technology management overview...,3,[paper],[],[IS],[]
8,1222,2022,Spring 2022,2021-2022,IST615,M001,Cloud Management,19,24,Cloud services creation and management. Practi...,3,"[project, paper]",[],"[IS, DS]",[]
9,1222,2022,Spring 2022,2021-2022,IST659,M001,Data Administration Concepts and Database Mana...,24,24,"Definition, development, and management of dat...",3,[project],[],"[IS, DS]",[]
10,1222,2022,Spring 2022,2021-2022,IST687,M002,Introduction to Data Science,20,20,Introduces information professionals to fundam...,3,"[project, exam]",[],[DS],[IS]
11,1222,2022,Spring 2022,2021-2022,IST687,M001,Introduction to Data Science,18,20,Introduces information professionals to fundam...,3,"[project, exam]",[],[DS],[IS]
12,1222,2022,Spring 2022,2021-2022,IST769,M001,Advanced Big Data Management,19,24,Analyze relational and non-relational database...,3,"[project, exam]",[IST659],[],[DS]
13,1222,2022,Spring 2022,2021-2022,IST621,M002,Information Management and Technology,22,24,Information and technology management overview...,3,[paper],[],[IS],[]
14,1222,2022,Spring 2022,2021-2022,IST621,M001,Information Management and Technology,28,28,Information and technology management overview...,3,[paper],[],[IS],[]
15,1222,2022,Spring 2022,2021-2022,IST718,M001,Big Data Analytics,28,28,A broad introduction to big data analytical an...,3,[project],[IST687],[DS],[]
16,1222,2022,Spring 2022,2021-2022,IST714,M001,Cloud Architecture,17,20,"Advanced, lab-based exploration of enterprise ...",3,[project],[IST615],[],"[IS, DS]"
17,1231,2022,Fall 2022,2022-2023,IST615,M001,Cloud Management,21,24,Cloud services creation and management. Practi...,3,"[project, paper]",[],"[IS, DS]",[]
18,1231,2022,Fall 2022,2022-2023,IST659,M002,Data Administration Concepts and Database Mana...,20,20,"Definition, development, and management of dat...",3,[project],[],"[IS, DS]",[]
19,1231,2022,Fall 2022,2022-2023,IST659,M001,Data Administration Concepts and Database Mana...,20,20,"Definition, development, and management of dat...",3,[project],[],"[IS, DS]",[]
20,1231,2022,Fall 2022,2022-2023,IST687,M002,Introduction to Data Science,20,24,Introduces information professionals to fundam...,3,"[project, exam]",[],[DS],[IS]
21,1231,2022,Fall 2022,2022-2023,IST687,M001,Introduction to Data Science,17,20,Introduces information professionals to fundam...,3,"[project, exam]",[],[DS],[IS]
22,1231,2022,Fall 2022,2022-2023,IST707,M001,Applied Machine Learning,24,24,General overview of industry standard machine ...,3,[exam],[IST687],[DS],[IS]
23,1231,2022,Fall 2022,2022-2023,IST722,M001,Data Warehousing,23,28,Introduction to concepts of business intellige...,3,"[project, exam]",[IST659],[],[IS]
24,1231,2022,Fall 2022,2022-2023,IST621,M001,Information Management and Technology,28,28,Information and technology management overview...,3,[paper],[],[IS],[]
25,1232,2023,Spring 2023,2022-2023,IST615,M002,Cloud Management,20,24,Cloud services creation and management. Practi...,3,"[project, paper]",[],"[IS, DS]",[]
26,1232,2023,Spring 2023,2022-2023,IST615,M001,Cloud Management,21,28,Cloud services creation and management. Practi...,3,"[project, paper]",[],"[IS, DS]",[]
27,1232,2023,Spring 2023,2022-2023,IST659,M001,Data Administration Concepts and Database Mana...,20,20,"Definition, development, and management of dat...",3,[project],[],"[IS, DS]",[]
28,1232,2023,Spring 2023,2022-2023,IST687,M001,Introduction to Data Science,19,24,Introduces information professionals to fundam...,3,"[project, exam]",[],[DS],[IS]
29,1232,2023,Spring 2023,2022-2023,IST769,M001,Advanced Big Data Management,20,24,Analyze relational and non-relational database...,3,"[project, exam]",[IST659],[],[DS]
30,1232,2023,Spring 2023,2022-2023,IST621,M002,Information Management and Technology,21,24,Information and technology management overview...,3,[paper],[],[IS],[]
31,1232,2023,Spring 2023,2022-2023,IST621,M001,Information Management and Technology,28,28,Information and technology management overview...,3,[paper],[],[IS],[]
32,1232,2023,Spring 2023,2022-2023,IST718,M001,Big Data Analytics,28,28,A broad introduction to big data analytical an...,3,[project],[IST687],[DS],[]
33,1232,2023,Spring 2023,2022-2023,IST714,M001,Cloud Architecture,20,24,"Advanced, lab-based exploration of enterprise ...",3,[project],[IST615],[],"[IS, DS]"

### Question 5

Use the `cassandra-driver` example from class to write python code to connect to cassandra from within Jupyter and create a keyspace named `ischooldb`. Design a cassandra table called `sections` to store the data from question 4. Appropriate key design is important! Please explain your justification for key below your table definition. Provide clear evidence that your table was created by querying the empty table in spark and use `printSchema()` to show the schema.

In [20]:
# entire data count
print(df.count())
# distinct term and course count
print(df.select('term','course').distinct().count())
# distinct course and section count
print(df.select('course','section').distinct().count())
# distinct term, course and section count
print(df.select('term','course','section').distinct().count())

34

26

13

34

In [21]:
#5 create cassandra table for wide_sections
# WE NEED A TABLE BEFORE WE CAN WRITE, Using Plain old Python
!pip install -q cassandra-driver
from cassandra.cluster import Cluster
with Cluster([cassandra_host]) as cluster:
    session = cluster.connect()
    session.execute("CREATE KEYSPACE IF NOT EXISTS ischooldb WITH replication={ 'class': 'SimpleStrategy', 'replication_factor' : 1 };")
    table = '''
    CREATE TABLE IF NOT EXISTS ischooldb.sections (
        term int,
        term_year int,
        term_name text,
        academic_year text,
        course text,
        section text,
        course_name text,
        enrollment int,
        capacity int,
        description text,
        credits int, 
        prerequisites list<text>,
        key_assignments list<text>,
        required_in_programs list<text>,
        elective_in_programs list<text>,
        primary key (term,section,course)
    );
    '''
    session.execute(table)
    
# The combination of term, section, course as the primary key for cassandra sections table is logical, 
# as it is a unique combination for all the data rows. 
# Moreover, partioning the data by 'term' will create 4 different nodes, which will make it easy to query data.

df1 = spark.read.format("org.apache.spark.sql.cassandra")\
    .option("table", "sections")\
    .option("keyspace","ischooldb")\
    .load()

df1.printSchema()

root
 |-- term: integer (nullable = false)
 |-- section: string (nullable = true)
 |-- course: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- course_name: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- enrollment: integer (nullable = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- term_name: string (nullable = true)
 |-- term_year: integer (nullable = true)

### Question 6

Load the data frame you created in question 4 into the `cassandra` table you created in question 5. Demonstrate the data is in the table by querying back it with PySpark. Make sure you can run the code multiple times and each time it replaces the existing data.

In [23]:
#6 load wide_sections into cassandra
df.write.format("org.apache.spark.sql.cassandra")\
  .mode("Append")\
  .option("table", "sections")\
  .option("keyspace","ischooldb")\
  .save()

df2 = spark.read.format("org.apache.spark.sql.cassandra")\
    .option("table", "sections")\
    .option("keyspace","ischooldb")\
    .load()
df2.toPandas()

,term,section,course,academic_year,capacity,course_name,credits,description,elective_in_programs,enrollment,key_assignments,prerequisites,required_in_programs,term_name,term_year
0,1222,M001,IST615,2021-2022,24,Cloud Management,3,Cloud services creation and management. Practi...,[],19,"[project, paper]",[],"[IS, DS]",Spring 2022,2022
1,1222,M001,IST621,2021-2022,28,Information Management and Technology,3,Information and technology management overview...,[],28,[paper],[],[IS],Spring 2022,2022
2,1222,M001,IST659,2021-2022,24,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[],24,[project],[],"[IS, DS]",Spring 2022,2022
3,1222,M001,IST687,2021-2022,20,Introduction to Data Science,3,Introduces information professionals to fundam...,[IS],18,"[project, exam]",[],[DS],Spring 2022,2022
4,1222,M001,IST714,2021-2022,20,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...","[IS, DS]",17,[project],[IST615],[],Spring 2022,2022
5,1222,M001,IST718,2021-2022,28,Big Data Analytics,3,A broad introduction to big data analytical an...,[],28,[project],[IST687],[DS],Spring 2022,2022
6,1222,M001,IST769,2021-2022,24,Advanced Big Data Management,3,Analyze relational and non-relational database...,[DS],19,"[project, exam]",[IST659],[],Spring 2022,2022
7,1222,M002,IST621,2021-2022,24,Information Management and Technology,3,Information and technology management overview...,[],22,[paper],[],[IS],Spring 2022,2022
8,1222,M002,IST687,2021-2022,20,Introduction to Data Science,3,Introduces information professionals to fundam...,[IS],20,"[project, exam]",[],[DS],Spring 2022,2022
9,1221,M001,IST615,2021-2022,28,Cloud Management,3,Cloud services creation and management. Practi...,[],22,"[project, paper]",[],"[IS, DS]",Fall 2021,2021
10,1221,M001,IST621,2021-2022,24,Information Management and Technology,3,Information and technology management overview...,[],22,[paper],[],[IS],Fall 2021,2021
11,1221,M001,IST659,2021-2022,20,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[],20,[project],[],"[IS, DS]",Fall 2021,2021
12,1221,M001,IST687,2021-2022,20,Introduction to Data Science,3,Introduces information professionals to fundam...,[IS],20,"[project, exam]",[],[DS],Fall 2021,2021
13,1221,M001,IST707,2021-2022,28,Applied Machine Learning,3,General overview of industry standard machine ...,[IS],28,[exam],[IST687],[DS],Fall 2021,2021
14,1221,M001,IST722,2021-2022,28,Data Warehousing,3,Introduction to concepts of business intellige...,[IS],25,"[project, exam]",[IST659],[],Fall 2021,2021
15,1221,M002,IST659,2021-2022,20,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[],20,[project],[],"[IS, DS]",Fall 2021,2021
16,1221,M002,IST687,2021-2022,24,Introduction to Data Science,3,Introduces information professionals to fundam...,[IS],21,"[project, exam]",[],[DS],Fall 2021,2021
17,1232,M001,IST615,2022-2023,28,Cloud Management,3,Cloud services creation and management. Practi...,[],21,"[project, paper]",[],"[IS, DS]",Spring 2023,2023
18,1232,M001,IST621,2022-2023,28,Information Management and Technology,3,Information and technology management overview...,[],28,[paper],[],[IS],Spring 2023,2023
19,1232,M001,IST659,2022-2023,20,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[],20,[project],[],"[IS, DS]",Spring 2023,2023
20,1232,M001,IST687,2022-2023,24,Introduction to Data Science,3,Introduces information professionals to fundam...,[IS],19,"[project, exam]",[],[DS],Spring 2023,2023
21,1232,M001,IST714,2022-2023,24,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...","[IS, DS]",20,[project],[IST615],[],Spring 2023,2023
22,1232,M001,IST718,2022-2023,28,Big Data Analytics,3,A broad introduction to big data analytical an...,[],28,[project],[IST687],[DS],Spring 2023,2023
23,1232,M001,IST769,2022-2023,24,Advanced Big Data Management,3,Analyze relational and non-relational database...,[DS],20,"[project, exam]",[IST659],[],Spring 2023,2023
24,1232,M002,IST615,2022-2023,24,Cloud Management,3,Cloud services creation and management. Practi...,[],20,"[project, paper]",[],"[IS, DS]",Spring 2023,2023
25,1232,M002,IST621,2022-2023,24,Information Management and Technology,3,Information and technology management overview...,[],21,[paper],[],[IS],Spring 2023,2023
26,1231,M001,IST615,2022-2023,24,Cloud Management,3,Cloud services creation and management. Practi...,[],21,"[project, paper]",[],"[IS, DS]",Fall 2022,2022
27,1231,M001,IST621,2022-2023,28,Information Management and Technology,3,Information and technology management overview...,[],28,[paper],[],[IS],Fall 2022,2022
28,1231,M001,IST659,2022-2023,20,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[],20,[project],[],"[IS, DS]",Fall 2022,2022
29,1231,M001,IST687,2022-2023,20,Introduction to Data Science,3,Introduces information professionals to fundam...,[IS],17,"[project, exam]",[],[DS],Fall 2022,2022
30,1231,M001,IST707,2022-2023,24,Applied Machine Learning,3,General overview of industry standard machine ...,[IS],24,[exam],[IST687],[DS],Fall 2022,2022
31,1231,M001,IST722,2022-2023,28,Data Warehousing,3,Introduction to concepts of business intellige...,[IS],23,"[project, exam]",[IST659],[],Fall 2022,2022
32,1231,M002,IST659,2022-2023,20,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[],20,[project],[],"[IS, DS]",Fall 2022,2022
33,1231,M002,IST687,2022-2023,24,Introduction to Data Science,3,Introduces information professionals to fundam...,[IS],20,"[project, exam]",[],[DS],Fall 2022,2022

### Question 7

Since we did not learn how to create a custom elasticsearch mapping, before you can load the data into `elasticsearch` you will need to flatten the nested data. For example, `course_is_elective_in_programs` should generate 2 columns `course_is_elective_for_IS` and `course_is_elective_for_DS`. You'll need to repeat this step for `course_is_required_in_programs`. Omit the `course_prerequisites` and `course_key_assignments` column.

In [24]:
#7 flatten `course_is_elective_in_programs` and `course_is_required_in_programs` 
from pyspark.sql.functions import array_contains, when

df3 = df.withColumn("course_is_required_for_IS", when(array_contains(df.required_in_programs,"IS"),1).otherwise(0))\
        .withColumn("course_is_required_for_DS", when(array_contains(df.required_in_programs,"DS"),1).otherwise(0))\
        .withColumn("course_is_elective_for_IS", when(array_contains(df.elective_in_programs,"IS"),1).otherwise(0))\
        .withColumn("course_is_elective_for_DS", when(array_contains(df.elective_in_programs,"DS"),1).otherwise(0))

df4 = df3.select(df3.term,df3.term_year,df3.term_name,df3.academic_year,df3.course,df3.section,\
                 df3.course_name,df3.enrollment,df3.capacity,df3.description,df3.credits,df3.course_is_required_for_IS,\
                 df3.course_is_required_for_DS,df3.course_is_elective_for_IS,df3.course_is_elective_for_DS)

df4.printSchema()
df4.toPandas()

root
 |-- term: integer (nullable = true)
 |-- term_year: integer (nullable = true)
 |-- term_name: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- course_is_required_for_IS: integer (nullable = false)
 |-- course_is_required_for_DS: integer (nullable = false)
 |-- course_is_elective_for_IS: integer (nullable = false)
 |-- course_is_elective_for_DS: integer (nullable = false)

,term,term_year,term_name,academic_year,course,section,course_name,enrollment,capacity,description,credits,course_is_required_for_IS,course_is_required_for_DS,course_is_elective_for_IS,course_is_elective_for_DS
0,1221,2021,Fall 2021,2021-2022,IST615,M001,Cloud Management,22,28,Cloud services creation and management. Practi...,3,1,1,0,0
1,1221,2021,Fall 2021,2021-2022,IST659,M002,Data Administration Concepts and Database Mana...,20,20,"Definition, development, and management of dat...",3,1,1,0,0
2,1221,2021,Fall 2021,2021-2022,IST659,M001,Data Administration Concepts and Database Mana...,20,20,"Definition, development, and management of dat...",3,1,1,0,0
3,1221,2021,Fall 2021,2021-2022,IST687,M002,Introduction to Data Science,21,24,Introduces information professionals to fundam...,3,0,1,1,0
4,1221,2021,Fall 2021,2021-2022,IST687,M001,Introduction to Data Science,20,20,Introduces information professionals to fundam...,3,0,1,1,0
5,1221,2021,Fall 2021,2021-2022,IST707,M001,Applied Machine Learning,28,28,General overview of industry standard machine ...,3,0,1,1,0
6,1221,2021,Fall 2021,2021-2022,IST722,M001,Data Warehousing,25,28,Introduction to concepts of business intellige...,3,0,0,1,0
7,1221,2021,Fall 2021,2021-2022,IST621,M001,Information Management and Technology,22,24,Information and technology management overview...,3,1,0,0,0
8,1222,2022,Spring 2022,2021-2022,IST615,M001,Cloud Management,19,24,Cloud services creation and management. Practi...,3,1,1,0,0
9,1222,2022,Spring 2022,2021-2022,IST659,M001,Data Administration Concepts and Database Mana...,24,24,"Definition, development, and management of dat...",3,1,1,0,0
10,1222,2022,Spring 2022,2021-2022,IST687,M002,Introduction to Data Science,20,20,Introduces information professionals to fundam...,3,0,1,1,0
11,1222,2022,Spring 2022,2021-2022,IST687,M001,Introduction to Data Science,18,20,Introduces information professionals to fundam...,3,0,1,1,0
12,1222,2022,Spring 2022,2021-2022,IST769,M001,Advanced Big Data Management,19,24,Analyze relational and non-relational database...,3,0,0,0,1
13,1222,2022,Spring 2022,2021-2022,IST621,M002,Information Management and Technology,22,24,Information and technology management overview...,3,1,0,0,0
14,1222,2022,Spring 2022,2021-2022,IST621,M001,Information Management and Technology,28,28,Information and technology management overview...,3,1,0,0,0
15,1222,2022,Spring 2022,2021-2022,IST718,M001,Big Data Analytics,28,28,A broad introduction to big data analytical an...,3,0,1,0,0
16,1222,2022,Spring 2022,2021-2022,IST714,M001,Cloud Architecture,17,20,"Advanced, lab-based exploration of enterprise ...",3,0,0,1,1
17,1231,2022,Fall 2022,2022-2023,IST615,M001,Cloud Management,21,24,Cloud services creation and management. Practi...,3,1,1,0,0
18,1231,2022,Fall 2022,2022-2023,IST659,M002,Data Administration Concepts and Database Mana...,20,20,"Definition, development, and management of dat...",3,1,1,0,0
19,1231,2022,Fall 2022,2022-2023,IST659,M001,Data Administration Concepts and Database Mana...,20,20,"Definition, development, and management of dat...",3,1,1,0,0
20,1231,2022,Fall 2022,2022-2023,IST687,M002,Introduction to Data Science,20,24,Introduces information professionals to fundam...,3,0,1,1,0
21,1231,2022,Fall 2022,2022-2023,IST687,M001,Introduction to Data Science,17,20,Introduces information professionals to fundam...,3,0,1,1,0
22,1231,2022,Fall 2022,2022-2023,IST707,M001,Applied Machine Learning,24,24,General overview of industry standard machine ...,3,0,1,1,0
23,1231,2022,Fall 2022,2022-2023,IST722,M001,Data Warehousing,23,28,Introduction to concepts of business intellige...,3,0,0,1,0
24,1231,2022,Fall 2022,2022-2023,IST621,M001,Information Management and Technology,28,28,Information and technology management overview...,3,1,0,0,0
25,1232,2023,Spring 2023,2022-2023,IST615,M002,Cloud Management,20,24,Cloud services creation and management. Practi...,3,1,1,0,0
26,1232,2023,Spring 2023,2022-2023,IST615,M001,Cloud Management,21,28,Cloud services creation and management. Practi...,3,1,1,0,0
27,1232,2023,Spring 2023,2022-2023,IST659,M001,Data Administration Concepts and Database Mana...,20,20,"Definition, development, and management of dat...",3,1,1,0,0
28,1232,2023,Spring 2023,2022-2023,IST687,M001,Introduction to Data Science,19,24,Introduces information professionals to fundam...,3,0,1,1,0
29,1232,2023,Spring 2023,2022-2023,IST769,M001,Advanced Big Data Management,20,24,Analyze relational and non-relational database...,3,0,0,0,1
30,1232,2023,Spring 2023,2022-2023,IST621,M002,Information Management and Technology,21,24,Information and technology management overview...,3,1,0,0,0
31,1232,2023,Spring 2023,2022-2023,IST621,M001,Information Management and Technology,28,28,Information and technology management overview...,3,1,0,0,0
32,1232,2023,Spring 2023,2022-2023,IST718,M001,Big Data Analytics,28,28,A broad introduction to big data analytical an...,3,0,1,0,0
33,1232,2023,Spring 2023,2022-2023,IST714,M001,Cloud Architecture,20,24,"Advanced, lab-based exploration of enterprise ...",3,0,0,1,1

### Question 8

Load the data frame you created in question 7 into `elasticsearch`, under the index `sections`.  Demonstrate the data is in the index by querying back it with PySpark.

In [25]:
#8 load wide_sections_flattened into elasticsearch
df4.write.mode("Overwrite").format("es").save("sections/_doc")

df5 = spark.read.format("es").load("sections/_doc")
query = df5.select("*")
query.printSchema()
query.toPandas()

root
 |-- academic_year: string (nullable = true)
 |-- capacity: long (nullable = true)
 |-- course: string (nullable = true)
 |-- course_is_elective_for_DS: string (nullable = true)
 |-- course_is_elective_for_IS: string (nullable = true)
 |-- course_is_required_for_DS: string (nullable = true)
 |-- course_is_required_for_IS: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- credits: long (nullable = true)
 |-- description: string (nullable = true)
 |-- enrollment: long (nullable = true)
 |-- section: string (nullable = true)
 |-- term: long (nullable = true)
 |-- term_name: string (nullable = true)
 |-- term_year: long (nullable = true)

,academic_year,capacity,course,course_is_elective_for_DS,course_is_elective_for_IS,course_is_required_for_DS,course_is_required_for_IS,course_name,credits,description,enrollment,section,term,term_name,term_year
0,2021-2022,28,IST615,0,0,1,1,Cloud Management,3,Cloud services creation and management. Practi...,22,M001,1221,Fall 2021,2021
1,2021-2022,20,IST659,0,0,1,1,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",20,M002,1221,Fall 2021,2021
2,2021-2022,20,IST659,0,0,1,1,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",20,M001,1221,Fall 2021,2021
3,2021-2022,24,IST687,0,1,1,0,Introduction to Data Science,3,Introduces information professionals to fundam...,21,M002,1221,Fall 2021,2021
4,2021-2022,20,IST687,0,1,1,0,Introduction to Data Science,3,Introduces information professionals to fundam...,20,M001,1221,Fall 2021,2021
5,2021-2022,28,IST707,0,1,1,0,Applied Machine Learning,3,General overview of industry standard machine ...,28,M001,1221,Fall 2021,2021
6,2021-2022,28,IST722,0,1,0,0,Data Warehousing,3,Introduction to concepts of business intellige...,25,M001,1221,Fall 2021,2021
7,2021-2022,24,IST621,0,0,0,1,Information Management and Technology,3,Information and technology management overview...,22,M001,1221,Fall 2021,2021
8,2021-2022,24,IST615,0,0,1,1,Cloud Management,3,Cloud services creation and management. Practi...,19,M001,1222,Spring 2022,2022
9,2021-2022,24,IST659,0,0,1,1,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",24,M001,1222,Spring 2022,2022
10,2021-2022,20,IST687,0,1,1,0,Introduction to Data Science,3,Introduces information professionals to fundam...,20,M002,1222,Spring 2022,2022
11,2021-2022,20,IST687,0,1,1,0,Introduction to Data Science,3,Introduces information professionals to fundam...,18,M001,1222,Spring 2022,2022
12,2021-2022,24,IST769,1,0,0,0,Advanced Big Data Management,3,Analyze relational and non-relational database...,19,M001,1222,Spring 2022,2022
13,2021-2022,24,IST621,0,0,0,1,Information Management and Technology,3,Information and technology management overview...,22,M002,1222,Spring 2022,2022
14,2021-2022,28,IST621,0,0,0,1,Information Management and Technology,3,Information and technology management overview...,28,M001,1222,Spring 2022,2022
15,2021-2022,28,IST718,0,0,1,0,Big Data Analytics,3,A broad introduction to big data analytical an...,28,M001,1222,Spring 2022,2022
16,2021-2022,20,IST714,1,1,0,0,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",17,M001,1222,Spring 2022,2022
17,2022-2023,24,IST615,0,0,1,1,Cloud Management,3,Cloud services creation and management. Practi...,21,M001,1231,Fall 2022,2022
18,2022-2023,20,IST659,0,0,1,1,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",20,M002,1231,Fall 2022,2022
19,2022-2023,20,IST659,0,0,1,1,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",20,M001,1231,Fall 2022,2022
20,2022-2023,24,IST687,0,1,1,0,Introduction to Data Science,3,Introduces information professionals to fundam...,20,M002,1231,Fall 2022,2022
21,2022-2023,20,IST687,0,1,1,0,Introduction to Data Science,3,Introduces information professionals to fundam...,17,M001,1231,Fall 2022,2022
22,2022-2023,24,IST707,0,1,1,0,Applied Machine Learning,3,General overview of industry standard machine ...,24,M001,1231,Fall 2022,2022
23,2022-2023,28,IST722,0,1,0,0,Data Warehousing,3,Introduction to concepts of business intellige...,23,M001,1231,Fall 2022,2022
24,2022-2023,28,IST621,0,0,0,1,Information Management and Technology,3,Information and technology management overview...,28,M001,1231,Fall 2022,2022
25,2022-2023,24,IST615,0,0,1,1,Cloud Management,3,Cloud services creation and management. Practi...,20,M002,1232,Spring 2023,2023
26,2022-2023,28,IST615,0,0,1,1,Cloud Management,3,Cloud services creation and management. Practi...,21,M001,1232,Spring 2023,2023
27,2022-2023,20,IST659,0,0,1,1,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",20,M001,1232,Spring 2023,2023
28,2022-2023,24,IST687,0,1,1,0,Introduction to Data Science,3,Introduces information professionals to fundam...,19,M001,1232,Spring 2023,2023
29,2022-2023,24,IST769,1,0,0,0,Advanced Big Data Management,3,Analyze relational and non-relational database...,20,M001,1232,Spring 2023,2023
30,2022-2023,24,IST621,0,0,0,1,Information Management and Technology,3,Information and technology management overview...,21,M002,1232,Spring 2023,2023
31,2022-2023,28,IST621,0,0,0,1,Information Management and Technology,3,Information and technology management overview...,28,M001,1232,Spring 2023,2023
32,2022-2023,28,IST718,0,0,1,0,Big Data Analytics,3,A broad introduction to big data analytical an...,28,M001,1232,Spring 2023,2023
33,2022-2023,24,IST714,1,1,0,0,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",20,M001,1232,Spring 2023,2023

### Question 9

Similar to question 4, prepare the `enrollments` for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. For this wide table we want to include the same reference data for `sections` but include the `student` attributes and the `program` data associated with the student.

In [26]:
#9 create wide_enrollments
enroll_df.createOrReplaceTempView("enrollments")
students.createOrReplaceTempView("students")

enroll_query = '''
    select e.term, e.course_enrollment, e.course, c.name as course_name, c.credits as course_credits, e.section, e.student_id, s.name as student_name, s.program, 
        p.name as program_name, p.type as program_type, p.credits, p.required_courses, p.elective_courses, e.grade, e.grade_points 
    from enrollments e
    join students s on e.student_id = s._id
    join programs p on s.program = p.code
    join courses c on e.course = c.code
    order by student_name, term;
'''
df6 = spark.sql(enroll_query)
df6.printSchema()
df6.toPandas()

root
 |-- term: integer (nullable = true)
 |-- course_enrollment: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- section: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- student_name: string (nullable = true)
 |-- program: string (nullable = true)
 |-- program_name: string (nullable = true)
 |-- program_type: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- grade: string (nullable = true)
 |-- grade_points: double (nullable = true)

,term,course_enrollment,course,course_name,course_credits,section,student_id,student_name,program,program_name,program_type,credits,required_courses,elective_courses,grade,grade_points
0,1221,5,IST659,Data Administration Concepts and Database Mana...,3,M001,abbykuss,Abby Kuss,DS,Data Science,Masters,34,"[IST659, IST615, IST687, IST718, IST707]","[IST769, IST714]",A,4.000
1,1221,11,IST687,Introduction to Data Science,3,M002,abbykuss,Abby Kuss,DS,Data Science,Masters,34,"[IST659, IST615, IST687, IST718, IST707]","[IST769, IST714]",A,4.000
2,1221,12,IST707,Applied Machine Learning,3,M001,abbykuss,Abby Kuss,DS,Data Science,Masters,34,"[IST659, IST615, IST687, IST718, IST707]","[IST769, IST714]",A-,3.667
3,1231,6,IST722,Data Warehousing,3,M001,abbykuss,Abby Kuss,DS,Data Science,Masters,34,"[IST659, IST615, IST687, IST718, IST707]","[IST769, IST714]",A-,3.667
4,1232,9,IST621,Information Management and Technology,3,M001,abbykuss,Abby Kuss,DS,Data Science,Masters,34,"[IST659, IST615, IST687, IST718, IST707]","[IST769, IST714]",A-,3.667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,1232,2,IST615,Cloud Management,3,M002,woodrowaboate,Woodrow Aboate,DS,Data Science,Masters,34,"[IST659, IST615, IST687, IST718, IST707]","[IST769, IST714]",B,3.000
739,1222,3,IST621,Information Management and Technology,3,M001,yolandasmyland,Yolanda Smyland,IS,Information Systems,Masters,36,"[IST659, IST615, IST621]","[IST722, IST714, IST687, IST707]",A-,3.667
740,1231,14,IST659,Data Administration Concepts and Database Mana...,3,M002,yolandasmyland,Yolanda Smyland,IS,Information Systems,Masters,36,"[IST659, IST615, IST621]","[IST722, IST714, IST687, IST707]",B+,3.333
741,1232,6,IST687,Introduction to Data Science,3,M001,yolandasmyland,Yolanda Smyland,IS,Information Systems,Masters,36,"[IST659, IST615, IST621]","[IST722, IST714, IST687, IST707]",A,4.000
742,1232,9,IST718,Big Data Analytics,3,M001,yolandasmyland,Yolanda Smyland,IS,Information Systems,Masters,36,"[IST659, IST615, IST621]","[IST722, IST714, IST687, IST707]",A,4.000

### Question 10

Load the data frame you created in question 8 into `elasticsearch`, under the index `enrollments`. This time, just Omit all array types to make the problem simpler (`elective_courses`, `key_assignments`, `course_prerequisites`, etc...)

In [27]:
#10 wide_enrollments to elastic search

df7 = df6.select(df6.term,df6.course_enrollment,df6.course,df6.course_name, df6.course_credits, df6.section,df6.student_id,df6.student_name,df6.program,\
                df6.program_name,df6.program_type,df6.credits,df6.grade,df6.grade_points)

df7.write.mode("Overwrite").format("es").save("enrollments/_doc")

df8 = spark.read.format("es").load("enrollments/_doc")

query1 = df8.select("*")
query1.printSchema()
query1.toPandas()

root
 |-- course: string (nullable = true)
 |-- course_credits: long (nullable = true)
 |-- course_enrollment: long (nullable = true)
 |-- course_name: string (nullable = true)
 |-- credits: long (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: float (nullable = true)
 |-- program: string (nullable = true)
 |-- program_name: string (nullable = true)
 |-- program_type: string (nullable = true)
 |-- section: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- student_name: string (nullable = true)
 |-- term: long (nullable = true)

,course,course_credits,course_enrollment,course_name,credits,grade,grade_points,program,program_name,program_type,section,student_id,student_name,term
0,IST621,3,13,Information Management and Technology,34,C,2.000,DS,Data Science,Masters,M001,aprilfirst,April First,1232
1,IST718,3,25,Big Data Analytics,34,A-,3.667,DS,Data Science,Masters,M001,aprilfirst,April First,1232
2,IST659,3,17,Data Administration Concepts and Database Mana...,34,A,4.000,DS,Data Science,Masters,M002,arialphoto,Arial Photo,1221
3,IST687,3,13,Introduction to Data Science,34,A,4.000,DS,Data Science,Masters,M001,arialphoto,Arial Photo,1221
4,IST707,3,1,Applied Machine Learning,34,A,4.000,DS,Data Science,Masters,M001,arialphoto,Arial Photo,1221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,IST687,3,10,Introduction to Data Science,34,A,4.000,DS,Data Science,Masters,M002,williework,Willie Work,1222
739,IST707,3,11,Applied Machine Learning,34,A,4.000,DS,Data Science,Masters,M001,williework,Willie Work,1231
740,IST659,3,14,Data Administration Concepts and Database Mana...,36,B+,3.333,IS,Information Systems,Masters,M002,yolandasmyland,Yolanda Smyland,1231
741,IST687,3,6,Introduction to Data Science,36,A,4.000,IS,Information Systems,Masters,M001,yolandasmyland,Yolanda Smyland,1232
742,IST718,3,9,Big Data Analytics,36,A,4.000,IS,Information Systems,Masters,M001,yolandasmyland,Yolanda Smyland,1232

### Question 11

Write spark to clear the `neo4j` database of all nodes and relationships.

In [29]:
#11 reset neo4j database 
cipher_ql = '''
MATCH (n)
DETACH DELETE n
'''
df9 = spark.createDataFrame(data = [{'row':1}])
df9.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_ql) \
  .save()

### Question 12

Load the `courses` and `program` data into `neo4j` as nodes. Exclude the `requirements`, `electives` and `prerequisites` from the node attributes. Demonstrate the data in `neo4j` by querying back it using one or more Cypher queries. NOTE: the Neo4J `name` attribute is what will display on the node bubbles.

In [30]:
#12a load courses into Neo4j
cipher_q2 = "MERGE (c:Course {name: event.code, course_name: event.name, credits: event.credits, description: event.description, \
                key_assignments: event.key_assignments})"
df10 = courses.select("code","name","credits","description","key_assignments").distinct()
df10.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_q2) \
  .save()

# query back courses from neo4j

cipher_q3 = '''
MATCH (c:Course)
RETURN c.name, c.course_name, c.credits, c.description, c.key_assignments
'''

df11 = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",cipher_q3) \
  .load()
df11.printSchema()
df11.toPandas()

root
 |-- c.name: string (nullable = true)
 |-- c.course_name: string (nullable = true)
 |-- c.credits: long (nullable = true)
 |-- c.description: string (nullable = true)
 |-- c.key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)

,c.name,c.course_name,c.credits,c.description,c.key_assignments
0,IST659,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[project]
1,IST714,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",[project]
2,IST722,Data Warehousing,3,Introduction to concepts of business intellige...,"[project, exam]"
3,IST718,Big Data Analytics,3,A broad introduction to big data analytical an...,[project]
4,IST621,Information Management and Technology,3,Information and technology management overview...,[paper]
5,IST615,Cloud Management,3,Cloud services creation and management. Practi...,"[project, paper]"
6,IST769,Advanced Big Data Management,3,Analyze relational and non-relational database...,"[project, exam]"
7,IST687,Introduction to Data Science,3,Introduces information professionals to fundam...,"[project, exam]"
8,IST707,Applied Machine Learning,3,General overview of industry standard machine ...,[exam]

In [31]:
#12b load programs into neo4j
cipher_q4 = "MERGE (p:Program {name: event.name, program_code: event.code, credits: event.credits, type: event.type})"

df12 = programs.select("name","code","credits","type").distinct()
df12.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_q4) \
  .save()

# query back programs from neo4j

cipher_q5 = '''
MATCH (p:Program)
RETURN p.name, p.program_code, p.credits, p.type
'''

df13 = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",cipher_q5) \
  .load()
df13.printSchema()
df13.toPandas()

root
 |-- p.name: string (nullable = true)
 |-- p.program_code: string (nullable = true)
 |-- p.credits: long (nullable = true)
 |-- p.type: string (nullable = true)

                         p.name p.program_code  p.credits       p.type
0                  Data Science             DS         34      Masters
1  Machine Learning Certificate            MLC          9  Certificate
2  Data Engineering Certificate            BDC          9  Certificate
3           Information Systems             IS         36      Masters
4   Cloud Computing Certificate            CCC          9  Certificate

### Question 13

Load the `requirements` and `electives` data into `neo4j` as relationships to the nodes you created in Question 12. Use the `program` data to form the `required` and `elective` course relationships. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [32]:
#13a program course requirements
from pyspark.sql.functions import explode_outer
df14 = programs.select(programs.code,programs.name,programs.type,\
                          explode_outer("required_courses").alias("course_id"))

cipher_q6 = '''
MATCH (p:Program)
MATCH (c:Course)
where p.program_code = event.code and c.name = event.course_id 
MERGE (c)-[:REQUIRED_FOR]->(p)
'''

prog_df = df14.select("code","course_id").orderBy("code","course_id")
prog_df.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_q6) \
  .save()

cipher_q7 = '''
MATCH (c:Course)-[:REQUIRED_FOR]->(p:Program) 
RETURN p.name, p.program_code, p.credits, p.type, c.name, c.course_name, c.credits, c.description, c.key_assignments
'''
df15 = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",cipher_q7) \
  .load()
df15.printSchema()
df15.toPandas()

root
 |-- p.name: string (nullable = true)
 |-- p.program_code: string (nullable = true)
 |-- p.credits: long (nullable = true)
 |-- p.type: string (nullable = true)
 |-- c.name: string (nullable = true)
 |-- c.course_name: string (nullable = true)
 |-- c.credits: long (nullable = true)
 |-- c.description: string (nullable = true)
 |-- c.key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)

,p.name,p.program_code,p.credits,p.type,c.name,c.course_name,c.credits,c.description,c.key_assignments
0,Information Systems,IS,36,Masters,IST659,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[project]
1,Data Science,DS,34,Masters,IST659,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[project]
2,Data Engineering Certificate,BDC,9,Certificate,IST659,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[project]
3,Cloud Computing Certificate,CCC,9,Certificate,IST714,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",[project]
4,Data Engineering Certificate,BDC,9,Certificate,IST722,Data Warehousing,3,Introduction to concepts of business intellige...,"[project, exam]"
5,Machine Learning Certificate,MLC,9,Certificate,IST718,Big Data Analytics,3,A broad introduction to big data analytical an...,[project]
6,Data Science,DS,34,Masters,IST718,Big Data Analytics,3,A broad introduction to big data analytical an...,[project]
7,Information Systems,IS,36,Masters,IST621,Information Management and Technology,3,Information and technology management overview...,[paper]
8,Cloud Computing Certificate,CCC,9,Certificate,IST621,Information Management and Technology,3,Information and technology management overview...,[paper]
9,Information Systems,IS,36,Masters,IST615,Cloud Management,3,Cloud services creation and management. Practi...,"[project, paper]"
10,Data Science,DS,34,Masters,IST615,Cloud Management,3,Cloud services creation and management. Practi...,"[project, paper]"
11,Cloud Computing Certificate,CCC,9,Certificate,IST615,Cloud Management,3,Cloud services creation and management. Practi...,"[project, paper]"
12,Data Engineering Certificate,BDC,9,Certificate,IST769,Advanced Big Data Management,3,Analyze relational and non-relational database...,"[project, exam]"
13,Machine Learning Certificate,MLC,9,Certificate,IST687,Introduction to Data Science,3,Introduces information professionals to fundam...,"[project, exam]"
14,Data Science,DS,34,Masters,IST687,Introduction to Data Science,3,Introduces information professionals to fundam...,"[project, exam]"
15,Machine Learning Certificate,MLC,9,Certificate,IST707,Applied Machine Learning,3,General overview of industry standard machine ...,[exam]
16,Data Science,DS,34,Masters,IST707,Applied Machine Learning,3,General overview of industry standard machine ...,[exam]

In [33]:
#13b program course electives
df16 = programs.select(programs.code,programs.name,programs.type,\
                          explode_outer("elective_courses").alias("course_id"))

cipher_q8 = '''
MATCH (p:Program)
MATCH (c:Course)
where p.program_code = event.code and c.name = event.course_id 
MERGE (c)-[:ELECTIVE_FOR]->(p)
'''

elec_df = df16.select("code","course_id").orderBy("code","course_id")
elec_df.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_q8) \
  .save()

cipher_q9 = '''
MATCH (c:Course)-[:ELECTIVE_FOR]->(p:Program) 
RETURN p.name, p.program_code, p.credits, p.type, c.name, c.course_name, c.credits, c.description, c.key_assignments
'''
df17 = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",cipher_q9) \
  .load()
df17.printSchema()
df17.toPandas()

root
 |-- p.name: string (nullable = true)
 |-- p.program_code: string (nullable = true)
 |-- p.credits: long (nullable = true)
 |-- p.type: string (nullable = true)
 |-- c.name: string (nullable = true)
 |-- c.course_name: string (nullable = true)
 |-- c.credits: long (nullable = true)
 |-- c.description: string (nullable = true)
 |-- c.key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)

,p.name,p.program_code,p.credits,p.type,c.name,c.course_name,c.credits,c.description,c.key_assignments
0,Information Systems,IS,36,Masters,IST714,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",[project]
1,Data Science,DS,34,Masters,IST714,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",[project]
2,Information Systems,IS,36,Masters,IST722,Data Warehousing,3,Introduction to concepts of business intellige...,"[project, exam]"
3,Data Science,DS,34,Masters,IST769,Advanced Big Data Management,3,Analyze relational and non-relational database...,"[project, exam]"
4,Information Systems,IS,36,Masters,IST687,Introduction to Data Science,3,Introduces information professionals to fundam...,"[project, exam]"
5,Information Systems,IS,36,Masters,IST707,Applied Machine Learning,3,General overview of industry standard machine ...,[exam]

### Question 14

Load the `prerequisites` into `neo4j` as relationships to the `course` nodes you created in Question 12. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [34]:
#14 course prerequisites 
df18 = courses.select(courses.code,courses.name,explode_outer("prerequisites").alias("pre_course_id"))

cipher_q10 = '''
MATCH (c:Course)
MATCH (c1:Course)
where c.name = event.code and c1.name = event.pre_course_id 
MERGE (c1)-[:PREREQUISITE_FOR]->(c)
'''

pre_df = df18.select("code","pre_course_id").orderBy("code","pre_course_id")
pre_df.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_q10) \
  .save()

cipher_q11 = '''
MATCH (c:Course)-[:PREREQUISITE_FOR]->(c1:Course)
RETURN c.name as prereq_id, c.course_name as prereq_name, c.credits as prereq_credits, c.description as prereq_desc, 
c.key_assignments as prereq_key_assignments, c1.name, c1.course_name, c1.credits, c1.description, c1.key_assignments
'''
df19 = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",cipher_q11) \
  .load()
df19.printSchema()
df19.toPandas()

root
 |-- prereq_id: string (nullable = true)
 |-- prereq_name: string (nullable = true)
 |-- prereq_credits: long (nullable = true)
 |-- prereq_desc: string (nullable = true)
 |-- prereq_key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- c1.name: string (nullable = true)
 |-- c1.course_name: string (nullable = true)
 |-- c1.credits: long (nullable = true)
 |-- c1.description: string (nullable = true)
 |-- c1.key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)

,prereq_id,prereq_name,prereq_credits,prereq_desc,prereq_key_assignments,c1.name,c1.course_name,c1.credits,c1.description,c1.key_assignments
0,IST615,Cloud Management,3,Cloud services creation and management. Practi...,"[project, paper]",IST714,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",[project]
1,IST659,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[project],IST722,Data Warehousing,3,Introduction to concepts of business intellige...,"[project, exam]"
2,IST687,Introduction to Data Science,3,Introduces information professionals to fundam...,"[project, exam]",IST718,Big Data Analytics,3,A broad introduction to big data analytical an...,[project]
3,IST659,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[project],IST769,Advanced Big Data Management,3,Analyze relational and non-relational database...,"[project, exam]"
4,IST687,Introduction to Data Science,3,Introduces information professionals to fundam...,"[project, exam]",IST707,Applied Machine Learning,3,General overview of industry standard machine ...,[exam]

### Question 15

Write a Cypher query to display courses which are required by both the `IS` and `DS` programs.

In [37]:
#15 Cypher query courses required in DS and IS
cipher_q12 = '''
MATCH (c:Course)-[:REQUIRED_FOR]->(p:Program {program_code: "IS"})
MATCH (c:Course)-[:REQUIRED_FOR]->(p2:Program {program_code: "DS"})
RETURN c.name as course_code,c.course_name as course_title, c.credits as course_credits, c.description as course_description, c.key_assignments as key_assignments
ORDER BY course_code
'''
df20 = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",cipher_q12) \
  .load()
df20.printSchema()
df20.toPandas()

root
 |-- course_code: string (nullable = true)
 |-- course_title: string (nullable = true)
 |-- course_credits: long (nullable = true)
 |-- course_description: string (nullable = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)

,course_code,course_title,course_credits,course_description,key_assignments
0,IST615,Cloud Management,3,Cloud services creation and management. Practi...,"[project, paper]"
1,IST659,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",[project]

### Question 16

Write a Cypher query to retrieve the `course code`, `course title`, and the count of programs the course is a requirement in. Write as a Cypher query but retrieve the  output as a Spark Dataframe.

In [38]:
#16 Cypher to spark table
cipher_q13 = '''
MATCH (c:Course)-[:REQUIRED_FOR]->(p:Program)
RETURN c.name as course_code,c.course_name as course_title, count(*) as count_of_programs
ORDER BY count_of_programs
'''
df21 = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",cipher_q13) \
  .load()
df21.printSchema()
df21.toPandas()

root
 |-- course_code: string (nullable = true)
 |-- course_title: string (nullable = true)
 |-- count_of_programs: long (nullable = true)

,course_code,course_title,count_of_programs
0,IST714,Cloud Architecture,1
1,IST722,Data Warehousing,1
2,IST769,Advanced Big Data Management,1
3,IST718,Big Data Analytics,2
4,IST621,Information Management and Technology,2
5,IST687,Introduction to Data Science,2
6,IST707,Applied Machine Learning,2
7,IST659,Data Administration Concepts and Database Mana...,3
8,IST615,Cloud Management,3

### Questions 17,18,19 and 20

These are not spark questions as they use kibana.